src/main/mule/test-buildtime-replace.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="test-buildtime-replaceFlow" doc:id="3315c5c9-fac1-4f74-a703-882f9621fb7f" >
		<scheduler doc:name="Scheduler" doc:id="f4aaa79c-66e6-4ec3-8720-007b82581620" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="615fd079-920f-4903-a354-afc305840ef7" message="Scheduler Started #[now()]"/>
	</flow>
</mule>
